.container{
    /* border: 1px solid white; */
    min-height : 450px;
    /* margin-right:20px; */
    margin: 0 15px;
    background-color: rgba(11,12,18,0.8);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    padding: 20px;
}

.bgImg{
    width: 100%;
    /* background-color: red; */
    height: 250px;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    width: 100%;
    /* border: 1px solid white; */
    min-height: 100px;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap: 20px 10px;
}

.box > div{
    /* border: 1px solid red; */
    min-height: 50px;
}

.icons{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.icons > div{
    min-height: 40px;
}

.icons > div > img{
    width: 70%;
    margin-bottom: 5px;
    /* border: 1px solid white; */
}
.icons > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid white; */
    cursor: pointer;
}

.icons > div > p{
    color: white;
}
/* @media screen and (max-width : 488px) {
    .box{
        grid-template-columns: 1fr;
    }
} */

.buttorns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttorns > a{
    width: 100%;
}
.buttorns > a > button{
    margin: 15px 0px;
    /* border: 1px solid white; */
    width: 100%;
    padding: 8px 10px;
    color: white;
    cursor: pointer;
    outline: 0;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bolder;
    background-color: #FC1056;
}
.buttorns > a:first-child > button{
    background-color: #0EB1D2;
}

.buttorns > a >  button:active{
    transform: scale(.98);
}

@media screen and (max-width : 587px) {
    .icons{
        display: none;
    }
    .description{
        display: none;
    }
}