.container{
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid blue; */
    padding: 30px 20px 20px;
    background-color: white;
}

.aboutPage{
    width:100%;
    /* border: 1px solid white; */
}

.content{
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid white; */
    min-height: 200px;
    padding: 0px 20px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
}



.projectDes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100px;
    gap: 30px;
    padding: 0 40px;
}

.profileDes > *{
    color: black;
}
.profileDes > .title{
    margin: 0;
    padding: 0;
    font-size: 26px;
    margin-bottom: 8px;
}
.title > span{
    color:#0EB1D2;
}
.aboutMe{
    /* text-align: justify; */
    margin-bottom: 20px;
    color:black;
}
.cv{
    background-color:#0EB1D2;
    color: white;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.cv:hover{
    background-color: #FC766A;
    color: white;
}
.cv:active{
    transform: scale(.98);
}
@media screen and (max-width : 1128px) {
    .content{
        grid-template-columns: 1fr;
    }
    .projectDes{
        padding: 20px 100px;
    }
}
@media screen and (max-width : 950px) {

    .projectDes{
        padding: 20px 50px;
    }
}
@media screen and (max-width : 778px) {

    .projectDes{
        padding: 20px 20px;
    }
}
@media screen and (max-width : 464px) {

    .projectDes{
        padding: 20px 40px;
    }
    .projectDes{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width : 428px) {
    .container{
        margin-bottom: 100px;
    }

}