.container{
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid blue; */
    padding: 30px 20px 20px;
    transition: all 0.5s linear;
    background-color: white;
}

.ContactPage{
    width:100%;
    /* border: 1px solid white; */
}

.content{
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    gap: 20px;
}
.content > div{
    /* border: 1px solid white; */
}

.contactInfo > h1{
    color: black;
    font-size: 22px;
    margin-bottom: 20px;
}

.contactInfo > ul{
    list-style-type: none;
}

.contactInfo > ul > li{
    margin-bottom: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contactInfo > ul > li > span{
margin-left: 10px;
font-size: 20px;
}

.contactInfo > ul {
    font-size: 20px;
    }
.emailForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #F4F4F4;
}

.emailForm > input, .emailForm > textarea{
    width: 100%;
    padding: 8px 10px;
    border: none;
    background-color: #0EB1D2;
    outline: 0;
    color: white;
}

.emailForm > textarea{
    min-height: 150px;
}

.emailForm > *{
    margin-bottom: 10px;
}

.send{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    padding: 8px 18px;
    border-radius: 20px;
    margin-top: 10px;
    outline: 0;
    background-color: #0EB1D2;
}
.send > *{
    margin: 0 8px;
}
.send:hover{
    background-color: #FC766A;
    color: white;
}
.send:active{
    transform: scale(.98);
}

@media screen and (max-width : 900px) {
    .content{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width : 738px) {
    .content{
        grid-template-columns: 1fr 1.6fr;
    }
}
@media screen and (max-width : 606px) {
    .content{
        grid-template-columns: 1fr;
    }
}