.container{
    width: 100%;
    /* border: 1px solid red; */
    /* margin : 0px 15px 0px 15px; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* .container > div{
    background-color: red;
    height: 200px;
    border: 1px solid black;
} */
@media screen and (max-width:1099px) {
    .container{
        grid-template-columns: 1fr;
    }
}