/* // #191A19 */
.container{
    height: 100vh;
    background-color: #F4F4F4;              
    padding: 35px 20px 10px 20px;
    position: relative;
    transition: all 0.3s linear;
}
.innerContainer{
    /* border: 1px solid white; */
    width: 100%;
}
.title{
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0EB1D2;
}
.title > h1{
    margin-bottom: 8px;
}
.title > p{
    color: #212529;
}

.title > h1 > span{
    color: #343E47;
}


/* @media screen and (max-width : 738px) {
    .container{
        position: fixed;
        left:0;
        top :0;
        display: none;
    }
} */

#close{
    background-color: transparent;
    color: #0EB1D2;
    position: absolute;
    top: 26px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width : 738px) {
    .container{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
    }
}