.container{
    height: 100%;
/* border: 1px solid white; */
overflow-x: hidden;
overflow-y: scroll;
position: relative;
transition: all 0.3s linear;
scroll-behavior: smooth;
/* for content page background change */
background-color:white;
}

/* @media screen and (max-width : 738px) {
    .container{
        width: 100%;
    }
} */
#burger{
   background-color: transparent;
   color:#0EB1D2;
   position: fixed;
   top: 20px;
   right: 20px;
   font-size: 28px;
   cursor: pointer;
   display: none;
}
@media screen and (max-width : 974px) {
    .container::-webkit-scrollbar{
        width: 0;
    }
}

@media screen and (max-width : 738px) {
    #burger{
        display: block;
    }

}