.container{
    width: 100%;
    min-height: 100px;
    /* border: 1px solid white; */
    margin: 50px 0 30px;
    padding : 0px 20px;
}

.container > h1{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}