.icons{
    height: 100px;
    /* border: 1px solid white; */
    cursor: pointer;
    background-color: rgba(11,12,16,0.4);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons > img{
    width: 60%;
    height: 60%;
}