.box{
    min-height: 120px;
    background-color: #0EB1D2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

/* .box > *{
    margin: 8px;
} */
.box > h1{
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.box > p{
    color: white;
}

.box:hover{
    background-color:#FC766A;
    color: white;
}
.box:hover > h1{
    color:white;
}